body {
    height: 100vh;
    display: grid;
    grid-template-rows: 110px 1fr 150px;
}

header {
    background-color: rgb(5, 114, 109);
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 32px;
}

main {
    background-color: rgb(3, 59, 3);
    display: flex;
    align-items: end;
    justify-content: space-around;
    font-size: 32px;
}

footer {
    background-color: rgb(7, 46, 85);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 90px;
    font-size: 32px;
}

div {
    background-color: tomato;
    width: 100px;
    height: 100px;
}